.menu-bar, .menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.menu-bar a,
.menu-open p{
    color: #fff;
    cursor: pointer;
}

.menu-close p{
    color: #000;
    cursor: pointer;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 20;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon{
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.menu-copy{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.menu-preview{
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p{
    font-size: 100px;
    -webkit-text-stroke: 3px #c5fb45;
    line-height: 70%;
}

.menu-link-item-holder{
    position: relative;
}

@media (max-width: 900px){
    .menu-close-icon{
        display: none;
    }
    .menu-copy{
        padding-top: 8em;
    }
}