
.btn-projects {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    border: 2px solid #fff3d8;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: color 0.5s ease-in-out;
}

.btn-contact {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    border: 2px solid #fff3d8;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: color 0.5s ease-in-out;
}


.btn-projects::before,
.btn-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff3d8;
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.btn-projects:hover::before,
.btn-contact:hover::before {
    width: 100%;
}

.btn-projects:hover,
.btn-contact:hover {
    color: #312b00;
    box-shadow: rgba(255, 213, 0, 0.9) 0px 0px 7px;
    transition: box-shadow 0.3s ease-in-out;
}


@media (max-width: 640px) { 
    .btn-projects,
    .btn-contact {
        padding: 0.6rem 1.2rem; 
        font-size: 0.65rem;
        border: 1.2px solid #fff3d8; 
        border-radius: 4.8px; 
    }
}
